.popup-container {
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.27) 0px 0px 5px;
	padding: 10px;
	z-index: 9999;
	width: 210px;
	border-radius: 8px;
}

.popup-container.top-right {
  top: 10px;
  left: calc(100% - 240px);
}

.popup-container.bottom-right {
  top: calc(100% - 84px);
  left: calc(100% - 240px);
}

.popup-container.bottom-left {
  top: calc(100% - 84px);
  left: 10px;
}

.popup-container.top-left {
  top: 10px;
  left: 10px;
}

.show-popup-container {
	display: flex;
	flex-direction: column;
	position: fixed;
  transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
}

.show-popup-container.top-right {
  top: 10px;
  left: calc(100% - 240px);
	transform: translateX(180px);
}

.show-popup-container.bottom-right {
  top: calc(100% - 84px);
  left: calc(100% - 240px);
  transform: translate(180px, 24px);
}

.show-popup-container.bottom-left {
  top: calc(100% - 84px);
  left: 10px;
	transform: translateY(24px);
}

.show-popup-container.top-left {
  top: 10px;
  left: 10px;
}

.popup-arrow {
	color: black;
	text-shadow: none;
	background-color: transparent;
	box-shadow: none;
	pointer-events: none;
	position: absolute;
	opacity: 0;
	z-index: -1;
	font-size: 20px;
}

.top-arrow {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.right-arrow {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.bottom-arrow {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.left-arrow {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.show-popup-container:hover .popup-arrow {
	pointer-events: auto;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.5s ease-in-out;
}

.popup-title {
	margin: 0 auto;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px auto;
}

.view-profile-button {
	background-color: #0891b2;
	margin: auto 2px auto 0px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.hide-popup-button {
	background-color: #14b8a6;
	margin: auto 0px auto 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.show-popup-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px;
	height: 48px;
	width: 48px;
	border-radius: 100%;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.27) 0px 0px 5px;
}

.show-popup-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #14b8a6;
	text-shadow: none;
	height: 16px;
	margin: 0 auto 4px;
}

.save-button {
  background-color: blue;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}