.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  box-sizing: border-box;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 40%;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.27);
  overflow-y: auto;
}

.profile-input-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto auto 1rem;
  width: 100%;
  height: 100%;
}

.account-input-field {
  width: max(50%, 420px);
  margin: 0.5rem 0;
}

.password-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.password-input-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

.show-password-text, .password-help-text {
  margin: 0 0 0 0.5rem;
}

.profile-create-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto auto;
}

.profile-container {
  display: flex;
  width: 95%;
  height: 95%;
  margin: auto;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  box-sizing: border-box;
  overflow: hidden;
}

.section-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 13rem);
  overflow: hidden;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
  padding: 0 2rem;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section-text {
  margin: 0;
}

.wrapper {
  display: flex;
  width: calc(100% - 5.5rem);
  height: calc(100% - 10rem);
  margin: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 2rem;
}

.exit-profile-button {
  display: flex;
  margin: 4px auto;
  background-color: #dc2626;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
