/* Overlay styling */
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

/* Profile container styling */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(80%, 1080px);
  height: min(80%, 720px);
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 9999;
}

/* Wrapper styling */
.wrapper {
  display: flex;
  width: 100%;
  height: 37%;
}

/* About and skills section styling */
.about-section,
.skills-section,
.experience-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

.about-section {
  margin-right: 0.5rem;
}

.skills-section {
  margin-left: 0.5rem;
}

.about-title,
.skills-title,
.experience-title {
  margin: 0 auto;
}

/* Add skill input and button styling */
.add-skill-wrapper {
  display: flex;
  width: 95%;
  margin: 4px auto;
}

.add-skill-input {
  width: 50%;
  padding: 4px 8px;
  margin: auto 0.25rem auto auto;
  outline: none;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.add-skill-button {
  background-color: #14b8a6;
  width: fit-content;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

/* Clear skills button styling */
.clear-skills-button {
  background-color: #dc2626;
  width: fit-content;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

/* Skills wrapper and skill item styling */
.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
  width: 95%;
  height: 100%;
  margin: 0.5rem auto;
  padding: 0.5rem 0.25rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.skill {
  background-color: #0891b2;
  margin: 4px;
  width: calc(33% - 8px);
  height: fit-content;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.experience-section {
  margin: 1rem 0;
  width: calc(100% - 1rem);
}

.profile-explanation-button {
  color: blue;
  text-decoration: underline;
  margin: auto auto 4px;
}

/* Button container and individual button styling */
.button-container {
  display: flex;
  margin: 4px auto;
}

.exit-profile-button,
.save-changes-button {
  margin: auto 4px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.exit-profile-button {
  background-color: #dc2626;
  margin-left: auto;
}

.save-changes-button {
  background-color: #14b8a6;
  margin-right: auto;
}
